<ion-view view-title="Dashboard">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear button-white iconfont icon-fanhui" ui-sref="tab.home">
      <i class="icon ion-ios-arrow-left"></i>返回
    </button>
    <h1 class="title">拆零拣货</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-input  item-icon-left item-icon-right" style="padding: 6px 54px 5px; ">
        <i class="icon ion-qr-scanner"></i>
        <input type="text" placeholder="请扫码或者输入拣选单号">
        <i class="icon ion-android-search"></i>
      </div>
    </div>

    <div class="list">
      <div class="item item-icon-right" ui-sref="glrq">
        <span>拣选单号：</span>
        <span class="positive">P2017052230906</span>
        <span class="item-note assertive"> 关联容器</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" ui-sref="">
        <span>拣选单号：</span>
        <span class="positive">P2017052230906</span>
        <span class="item-note assertive"> 拣货确认</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" ui-sref="">
        <span>拣选单号：</span>
        <span class="positive">P2017052230906</span>
        <span class="item-note assertive"> 投放复合台</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>


    </div>

  </ion-content>
</ion-view>
