<ion-view view-title="Dashboard">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear button-white iconfont icon-fanhui" ui-sref="glrq">
      <i class="icon ion-ios-arrow-left"></i>返回
    </button>
    <h1 class="title">拣货</h1>
  </ion-header-bar>

  <ion-content>


    <div class="list">
      <div class="item">
        <span>拣选单号：</span>
        <span class="item-note positive">P2017052230906</span>
      </div>
      <div class="item">
        <span>商品编号：</span>
        <span class="item-note">PG002342</span>
      </div>
      <div class="item">
        <span>  商品名称：</span>
        <span class="item-note">阿莫西林</span>
      </div>
      <div class="item">
        <span>  生产厂家：</span>
        <span class="item-note">华北制药</span>
      </div>
      <div class="item">
        <span>  规格：</span>
        <span class="item-note">10g*10支</span>
      </div>
      <div class="item">
        <span>  批号：</span>
        <span class="item-note"> 20161223</span>
      </div>
      <div class="item">
        <span>   下架货位 ：</span>
        <span class="item-note"> LA01-010203</span>
      </div>

      <div class="jhGrid">
        <div class="col col-50 active">
          <span> 1</span>
          <span>600001</span>
          <span>5</span>
        </div>
        <div class="col">
          <span>2</span>
          <span>600041</span>
          <span>10</span>
        </div> <div class="col">
          <span>2</span>
          <span>600041</span>
          <span>10</span>
        </div> <div class="col">
          <span>2</span>
          <span>600041</span>
          <span>10</span>
        </div>

      </div>

      <div class="item">
        <span>   数量 ：</span>
        <div class="item-note"> LA01-010203</div>
      </div>
      <label class="item item-input item-icon-right">
        <span class="input-label"> 货位确认：</span>
        <input type="text" placeholder="请扫描货位条码" readonly>
        <i class="icon ion-qr-scanner"></i>
      </label>


    </div>
    <button class="button button-full button-positive">
      确定
    </button>
  </ion-content>
</ion-view>
