@charset "UTF-8";

.jhGrid{
  margin-top: -1px;
  .col{
    float: left; width: 50%;margin: 0px;border-top: 1px solid #ccc;
    &:nth-child(odd){
      border-right: 1px solid #ccc;
    }
    span:nth-child(1){
      color: #000000;display: inline-block;width: 25px;height: 25px;line-height: 25px; text-align: center; border-radius: 50%;border: 1px solid;
    }
    span:nth-child(2){
      display: block;width: 100%;text-align: center;color: #0c60ee; font-size: 24px;
    }
    span:nth-child(3){
      display: block;width: 100%;text-align: right;font-size: 18px;font-weight: bold;
    }
    &.active{
      background:#0c60ee ; border-color: #0c60ee;
      span:nth-child(1),span:nth-child(2),span:nth-child(3){
        color: #fff;
      }
    }

  }
}
